{% extends 'base.html' %}
{% load static %}


{% block page-header %}
<div class="container">
<div class="row page-header-title">
<div class="col align-self-start">
<a class="btn btn-primary rounded-circle topics" href="{% url 'about' %}" role="button" id="about">About</a>
</div>
</div>
</div>
{% endblock %}

{% block content %}
 <!--Jumbotron image and text-->
    <section>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-sm-4 d-block m-auto noshow">
              <img
                src="/media/career-chge.jpg"
                class="card-img"
                alt="Career change"
                id="noshow"
              />
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h4 class="display-4 text-center">The will to change</h4>
                <p class="card-text">
                  Having successfully achieved a 10 years career in data
                  analysis, I became very confident in my abilities to organize,
                  manage and articulate any data into reports corroborating it
                  with my business analysis and recommendations, however far
                  from my original line of studies. I have then taken a 6 years
                  break to fulfill my motherhood needs.<br />
                  <i class="fab fa-staylinked aboutme-icon"></i>
                  I had an omen last year, when I started playing around with
                  python, I was reliving the same excitement as my marketing
                  years. As if a light bulb came up, I started looking around
                  the web to get a better understanding of coding and developing
                  and whether it is something I can do by myself. I realized
                  shortly that I needed support and guidance, hence bumping into
                  springboard, looking up Code institute and enjoying every
                  single bit of the 5 Days Challenge.<br />
                  <br />
                </p>
                <h5 class="aboutme-h5">
                  So, why do I want to become a web developer?
                </h5>
                <ul class="about-me-p">
                  <li>
                    Firstly because I want to use my creativity to produce
                    something impactful
                  </li>
                  <li>
                    Secondly because I do enjoy the challenges, looking things
                    up, interacting/exchanging with the other developers, it is
                    exciting to see how much of a community is out there and
                    that none of each ones’ work is kept a secret.
                  </li>
                  <li>
                    On the other hand, comes the flexibility, working either at
                    my own pace or for a company but actually having the choice
                    to do so is really attractive.
                  </li>
                  <li>
                    Last but not least, one of the main things I like about
                    coding is that it is always evolving so I know for sure that
                    I will never be bored.
                  </li>
                </ul>
                <hr class="my-4" />
                <p class="about-me-p">
                  For more details please feel free to Download and save a copy
                  of my CV by clicking on the link:
                  <a
                    href="assets/doc/JihanePetticrew_CV.doc"
                    target="_blank"
                    class="cv-word"
                    ><i
                      class="fas fa-download pro-xp-dl-link"
                      aria-hidden="true"
                    ></i
                    ><span class="sr-only">Download link.</span></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
