{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="logo">
	<div id="logocontainer">
    <a class="btn btn-primary rounded-circle topics" href="#" role="button" id="css3">About</a>
    <a class="btn btn-primary rounded-circle topics" href="#" role="button" id="html5">Portfolio</a>
    <a class="btn btn-primary rounded-circle topics" href="#" role="button" id="sass">Contact</a>
    <a class="btn btn-primary rounded-circle topics" href="#" role="button" id="js">DL</a>
    <a class="btn btn-primary rounded-circle topics" href="#" role="button" id="php">Exposure</a>
    <img id="sanky" src="//inf3cti0n95.github.io/img/sanky.svg">
	</div>
</div>


{% endblock %}
