{% extends 'base.html' %}
{% load static %}


{% block page-header %}
<div class="container">
	<div class="row page-header-title">
		<div class="col align-self-start">
			<a class="btn btn-primary rounded-circle topics" href="{% url 'timeline' %}" role="button"
				id="timeline">Timeline</a>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<!--1st section introduction-->
<section>
	<div class="jumbotron">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-sm-4 col-md-4 col-l-12">
					<img
                src="assets/images/profile-img1.jpg"
                class="img-fluid profile-img1"
                alt="responsive image"
              />
            </div>
					<div class="col-sm-8 col-md-8 col-l-12">
						<div class="card-body card-body-content">
							<h4 class="display-12">Hello, this is Jihane Petticrew</h4>
							<h5 class="title-h5">
								Not any Full Stack Web Developer Student
							</h5>
							<p class="card-text">
								I am a fast learner and enjoy working within teams especially
								when it comes to projects, helping others or simply discussing
								new ways to achieve a task.<br />
								<br />I am ready to be part of this amazing opportunity, my
                  goal being to complete the Full Stack Software Development
                  program and start developing!
                </p>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!--2nd section Professional career-->
<section class="container">
	<div class="card mb-3">
		<img
          src="assets/images/pro-xp-img.jpg"
          class="card-img-top"
          alt="Professional Experience"
        />
		<div class="card-body">
			<h5 class="display-12 text-center">Professional Experience</h5>
			<p class="card-text">
				Although having the opportunity to become a
				<strong>Full Stack Web Developer</strong> now, I have been a SAHM
				for the past 6 years and prior to that my main work experiences have
				been around Analysing Data. The list below is exhaustive.<br />
				<br />For more details please feel free to Download and save a copy
            of my CV by clicking on the link:
				<a href="assets/doc/JihanePetticrew_CV.doc" target="_blank"
					class="cv-word"><i class="fas fa-download pro-xp-dl-link" aria-hidden="true"></i><span class="sr-only">Download link.</span></a>
			</p>
		</div>
	</div>
</section>
<!--2nd section Professional career Timeline-->
<section class="timeline container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="main-timeline4">
					<div class="timeline">
						<div class="timeline-content">
							<span class="year">2014 -Now</span>
							<div class="inner-content">
								<h3 class="title">SAHM</h3>
								<p class="description">
									Mainly taking care of the kids and sometimes freelancing
									on different online tasks.
								</p>
							</div>
						</div>
					</div>
					<div class="timeline">
						<div class="timeline-content">
							<span class="year">2009 - 14</span>
							<div class="inner-content">
								<h3 class="title">Data Analyst</h3>
								<p class="description">
									Skilled data analyst with + 10 years’ experience in
									understanding and gathering data, creating dashboards,
									interpreting and disseminating different type of
									numbers/statistics.
								</p>
							</div>
						</div>
					</div>
					<div class="timeline">
						<div class="timeline-content">
							<span class="year">2006 - 08</span>
							<div class="inner-content">
								<h3 class="title">Territory Sales Manager</h3>
								<p class="description">
									Sales management from upselling, cross-selling IT
									softwares to the UK and Irish market.
								</p>
							</div>
						</div>
					</div>
					<div class="timeline">
						<div class="timeline-content">
							<span class="year">2004 - 05</span>
							<div class="inner-content">
								<h3 class="title">Advertising Agent</h3>
								<p class="description">
									This gathers both an experience as an ad executive in a
									Parisian Ad agency as well as me being an event
									coordinator for my business school in La Rochelle.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--3rd section Education path-->
<section class="container">
	<div class="card mb-3">
		<img
          src="assets/images/study-img.jpg"
          class="card-img-top study-path"
          alt="Study Path"
        />
		<div class="card-body">
			<h5 class="card-title uppercase text-center">Education</h5>
			<p class="card-text">
				I have had the luxury to travel around and study in different
				environments and cultures which made me a strong individual with
				ability to successfully adapt to any situation. My main diploma so
				far is a Master in sales and marketing obtained in France, altough I
				had graduated for my Leaving Cert in my hometown in Morocco. I am
				delighted to be enrolled in the
				<strong>CODE INSTITUTE</strong> infamous
				<strong>FULL-STACK WEB DEVELOPER DIPLOMA</strong> as this will shape
				up my new career.<br />
				<br />For more details please feel free to Download and save a copy
            of my CV by clicking on the link:
				<a href="assets/doc/JihanePetticrew_CV.doc" target="_blank"
					class="cv-word"><i class="fas fa-download pro-xp-dl-link" aria-hidden="true"></i><span class="sr-only">Download link.</span></a>
			</p>
			<p>li</p>
		</div>
	</div>
</section>
<!--3rd section Education path Timeline-->
<section class="timeline2 container">
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<ul class="timeline2">
					<li>
						<h6>
							2020 <br />
                  Full Stack Web Designer Diploma at Code Institure
                </h6>
					</li>
					<li>
						<h6>
							2001-05 <br />
                  Master Degree in Sales & Mkg at LR Business School
                </h6>
					</li>
					<li>
						<h6>
							2002-03 <br />
                  Exchange Programs at the Asper School of Business
                </h6>
					</li>
					<li>
						<h6>
							1999-00 <br />
                  Preparatory School of Business at Montlucon
                </h6>
					</li>
					<li>
						<h6>
							1999 <br />
                  Leaving cert at Descartes High school
                </h6>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}