body {
  height: 100vh;
  background: #ffffff;
}

#logocontainer {
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 650px;
  position: absolute;
  border-radius: 10%;
}

.btn-primary {
    color: #fff;
    background-color: #381e13;;
    border-color: #381e13;;
    font-size: 30px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ac8d64;
    border-color: #ac8d64;
}

#about {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 0%;
  width: 30%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

#portfolio {
  margin: 0;
  position: absolute;
  top: 37%;
  left: 10%;
  width: 30%;
  transform: translate(-50%, -50%);
}

#contact {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
}

#dl {
  margin: 0;
  position: absolute;
  top: 37%;
  left: 90%;
  width: 30%;
  transform: translate(-50%, -50%);
}

#exposure {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 100%;
  width: 30%;
  transform: translate(-50%, -50%);
}

#jihane {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.rounded-circle {
    border-radius: 55%!important;
}
